<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
<title>{{ page.title }}</title>
</head>
<body>
<h1><a href="http://yqm.io">{{ site.title }}</a></h1>
{{ content }}
<br/>
友情链接：
<ul>
    {% for friend in site.friends %}
    <li><a rel="nofollow" href="{{ friend.url }}">{{ friend.title }}</a></li>
    {% endfor %}
</ul>
</body>
</html>
